
.Rhistory
.Rproj.user/F369662E/pcs/files-pane.pper
.Rproj.user/F369662E/pcs/source-pane.pper
.Rproj.user/F369662E/pcs/windowlayoutstate.pper
.Rproj.user/F369662E/pcs/workbench-pane.pper
.Rproj.user/F369662E/rmd-outputs
.Rproj.user/F369662E/saved_source_markers
.Rproj.user/F369662E/sources/per/t/58A5BE5E
.Rproj.user/F369662E/sources/per/t/58A5BE5E-contents
.Rproj.user/F369662E/sources/prop/336A8774
.Rproj.user/F369662E/sources/prop/46BF0414
.Rproj.user/F369662E/sources/prop/596AC91E
.Rproj.user/F369662E/sources/prop/846F9196
.Rproj.user/F369662E/sources/prop/E32CD845
.Rproj.user/F369662E/sources/prop/INDEX
.Rproj.user/F369662E/sources/session-D9A9E033/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/F369662E/sources/session-D9A9E033/lock_file
.Rproj.user/F369662E/sources/prop/3555DC5F
.Rproj.user/F369662E/sources/prop/3E212A58
.Rproj.user/F369662E/sources/prop/50E7C7B8
.Rproj.user/F369662E/sources/prop/5422AA8D
.Rproj.user/F369662E/sources/prop/65FE98F2
.Rproj.user/F369662E/sources/prop/6D3E8DF4
.Rproj.user/F369662E/sources/prop/BFB72659
.Rproj.user/F369662E/pcs/debug-breakpoints.pper
.Rproj.user/F369662E/persistent-state
.Rproj.user/F369662E/sources/session-1AAEB9E9/C674106D
.Rproj.user/F369662E/sources/session-1AAEB9E9/C674106D-contents
.Rproj.user/F369662E/sources/session-1AAEB9E9/lock_file
MCMC_outputs.RData
.Rproj.user/F369662E/sources/per/u/C674106D
.Rproj.user/F369662E/sources/per/u/C674106D-contents
.Rproj.user/F369662E/sources/prop/1888775C
.Rproj.user/F369662E/sources/session-B5606CE9/2F5A7A4C
.Rproj.user/F369662E/sources/session-B5606CE9/2F5A7A4C-contents
.Rproj.user/F369662E/sources/session-B5606CE9/45842603-contents
.Rproj.user/F369662E/sources/session-B5606CE9/90E2953F
.Rproj.user/F369662E/sources/session-B5606CE9/90E2953F-contents
.Rproj.user/F369662E/sources/session-B5606CE9/C674106D-contents
.Rproj.user/F369662E/sources/session-B5606CE9/CF2A2897
.Rproj.user/F369662E/sources/session-B5606CE9/CF2A2897-contents
.Rproj.user/F369662E/sources/session-B5606CE9/E358F183-contents
.Rproj.user/F369662E/sources/session-B5606CE9/F8D7B404-contents
.Rproj.user/F369662E/sources/session-B5606CE9/lock_file
.Rproj.user/shared/notebooks/7924E73E-Demo/1/F369662EB5606CE9/chunks.json
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c0iktn5ob5jm6/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c2bt98vm7fxxu/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c2esahb6qkt0j/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c2f7jth0k7ngs/000017.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000021.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000022.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000022.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000022.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000023.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000024.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000024.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000024.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000025.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000026.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000026.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000026.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000027.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000028.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000028.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cenp7hnxwq21f/000028.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/chunks.json
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/clfg5o5bhazzl/000011.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cp9pykwrdkani/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cp9pykwrdkani/000010.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cp9pykwrdkani/000010.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cp9pykwrdkani/000010.snapshot
.Rproj.user/F369662E/jobs/82C0D130-output.json
.Rproj.user/F369662E/sources/prop/5F9274B4
.Rproj.user/F369662E/sources/session-D8D902A6/2F5A7A4C
.Rproj.user/F369662E/sources/session-D8D902A6/2F5A7A4C-contents
.Rproj.user/F369662E/sources/session-D8D902A6/2F9E0C59
.Rproj.user/F369662E/sources/session-D8D902A6/2F9E0C59-contents
.Rproj.user/F369662E/sources/session-D8D902A6/414308E4-contents
.Rproj.user/F369662E/sources/session-D8D902A6/90E2953F-contents
.Rproj.user/F369662E/sources/session-D8D902A6/CF2A2897
.Rproj.user/F369662E/sources/session-D8D902A6/CF2A2897-contents
.Rproj.user/F369662E/sources/session-D8D902A6/E4F662C3
.Rproj.user/F369662E/sources/session-D8D902A6/E4F662C3-contents
.Rproj.user/F369662E/sources/session-D8D902A6/lock_file
.Rproj.user/shared/notebooks/7924E73E-Demo/1/F369662ED8D902A6/chunks.json
.Rproj.user/shared/notebooks/7924E73E-Demo/1/F369662EF4D6821A/chunks.json
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000013.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000014.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000014.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000014.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000015.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000016.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000016.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c10fegfew6are/000016.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000011.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000013.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000015.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000017.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000019.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001b.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001d.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001e.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001e.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001e.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00001f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000021.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000023.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000025.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000027.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000029.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00002b.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00002d.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/00002f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000030.metadata
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000030.png
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/c1or0tgovt61e/000030.snapshot
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/camtp6ppbstz3/00000f.csv
.Rproj.user/shared/notebooks/7924E73E-Demo/1/s/cfksdrnpzt011/000013.csv
