
.Rhistory
.Rproj.user/F369662E/pcs/files-pane.pper
.Rproj.user/F369662E/pcs/source-pane.pper
.Rproj.user/F369662E/pcs/windowlayoutstate.pper
.Rproj.user/F369662E/pcs/workbench-pane.pper
.Rproj.user/F369662E/rmd-outputs
.Rproj.user/F369662E/saved_source_markers
.Rproj.user/F369662E/sources/per/t/58A5BE5E
.Rproj.user/F369662E/sources/per/t/58A5BE5E-contents
.Rproj.user/F369662E/sources/prop/336A8774
.Rproj.user/F369662E/sources/prop/46BF0414
.Rproj.user/F369662E/sources/prop/596AC91E
.Rproj.user/F369662E/sources/prop/846F9196
.Rproj.user/F369662E/sources/prop/E32CD845
.Rproj.user/F369662E/sources/prop/INDEX
.Rproj.user/F369662E/sources/session-D9A9E033/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/F369662E/sources/session-D9A9E033/lock_file
.Rproj.user/F369662E/sources/prop/3555DC5F
.Rproj.user/F369662E/sources/prop/3E212A58
.Rproj.user/F369662E/sources/prop/50E7C7B8
.Rproj.user/F369662E/sources/prop/5422AA8D
.Rproj.user/F369662E/sources/prop/65FE98F2
.Rproj.user/F369662E/sources/prop/6D3E8DF4
.Rproj.user/F369662E/sources/prop/BFB72659
.Rproj.user/F369662E/pcs/debug-breakpoints.pper
.Rproj.user/F369662E/persistent-state
.Rproj.user/F369662E/sources/session-1AAEB9E9/C674106D
.Rproj.user/F369662E/sources/session-1AAEB9E9/C674106D-contents
.Rproj.user/F369662E/sources/session-1AAEB9E9/lock_file
MCMC_outputs.RData
